<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RAILS</title>
        <link rel="stylesheet" href="../css/twitter.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .rails-tweet-holder {
                margin: 2em 0;
            }

            .rails-tweet {
                font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
                font-size: 3em;
                font-weight: 800;
                height: 4em;
                width: 64em;
                padding: 0.5em 1em;
                border-radius: 0.25em;
                display: table-cell;
                vertical-align: middle;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }

            .rails-bg {
                background: -webkit-linear-gradient(110deg, #fecfef 40%,#ff9a9e  60%);
                background: -o-linear-gradient(110deg, #fecfef 40%, #ff9a9e 60%);
                background: -moz-linear-gradient(110deg, #fecfef 40%, #ff9a9e 60%);
                background: linear-gradient(110deg, #fecfef 40%, #ff9a9e 60%);
            }

            .rails-bg-dark {
                background: -webkit-linear-gradient(110deg, #5a314d 40%,#966466  60%);
                background: -o-linear-gradient(110deg, #5a314d 40%, #966466 60%);
                background: -moz-linear-gradient(110deg, #5a314d 40%, #966466 60%);
                background: linear-gradient(110deg, #5a314d 40%, #966466 60%);
            }

            .rails-text {
                opacity: 0.5;
                color: maroon;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            }

            .rails-text-dark {
                opacity: 0.5;
                color: rgb(48, 2, 2);
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            }

            .rails-open-button {
                background-color: rgba(128,0,0,0.1);
                color: maroon;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 45px;
                right: 28px;
                width: 150px;
                border-radius: 25px;
            }

            .rails-open-button-dark {
                background-color: rgba(128,0,0,0.1);
                color: black;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 23px;
                right: 28px;
                width: 280px;
            }

            .rails-dark-button {
                background-color: Transparent;
                background-repeat:no-repeat;
                cursor:pointer;
                overflow: hidden;        
                color: maroon;
                border: none;
                cursor: pointer;
                opacity: 0.6;
                position: fixed;
                top: 40px;
                right: 2px;
                width: 200px;
            }

            .rails-dark-button-dark {
                color: black;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                top: 7px;
                margin-right: 160px;
                width: 100px;
            }

            .rails-form-popup {
                display: none;
                position: fixed;
                bottom: 0;
                right: 15px;
                border: 3px solid #f1f1f1;
                z-index: 9;
            }

            .rails-form-container {
                max-width: 300px;
                padding: 10px;
                background-color: rgba(128,0,0,0.2);
            }

            .rails-form-container-dark {
                max-width: 300px;
                padding: 10px;
                background-color: #793d66;
            }

            .rails-form-container input[type=text] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

            .rails-form-container .select {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

            .rails-form-container-dark input[type=text] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #9b9a9a;
            }

            .rails-form-container-dark .select {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #9b9a9a;
            }

            .rails-form-container input[type=text]:focus {
                background-color: #ddd;
                outline: none;
            }

            .rails-form-container .select:focus {
                background-color: #ddd;
                outline: none;
            }

            .rails-form-container-dark input[type=text]:focus {
                background-color: rgb(151, 148, 148);
                outline: none;
            }

            .rails-form-container-dark .select:focus {
                background-color: rgb(151, 148, 148);
                outline: none;
            }


            .rails-form-container .btn {
                background-color: white;
                color: maroon;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
            }

            .rails-form-container-dark .btn {
                background-color: rgb(228, 220, 220);
                color: black;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
            }

            .rails-form-container .cancel {
                background-color: white;
                color: maroon;
            }

            .rails-form-container-dark .cancel {
                background-color: rgb(209, 202, 202);
                color: black;
            }

            .rails-form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }

            .rails-form-container-dark .btn:hover, .open-button:hover {
                opacity: 1;
            }

            .rails-tooltip {
                position: relative;
                display: block;
            }

            .rails-tooltip .rails-tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;

                /* Position the tooltip */
                position: absolute;
                right: 20px;
                z-index: 1;
            }

            .rails-tooltip:hover .rails-tooltiptext {
                visibility: visible;
                color:white;
            }

            #copyright-footer {
                font-size: 15px;
            }
        </style>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>  
        <div class="rails-form-popup" id="railsForm">
            <form id="rails-form-id" class="rails-form-container" action="\" method="POST">
                <input type="text" id="rails-hashtag-id" placeholder="hashtag" required/>
                <select name="result-type" id="result-type" class="select">
                    <option value="recent" selected>Recent</option>
                    <option value="popular">Popular</option>
                </select>
                <button id="rails-button-id" class="btn">Search</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
        
        <div class="rails-tweet-holder" id="tweet-holder">
            <div class="rails-tweet rails-bg" id="tweet-bg">
                <h4 class="rails-text" align='center'><%= searchParams.result_type.charAt(0).toUpperCase() + searchParams.result_type.slice(1) %> Tweets about <%= searchParams.q %></h4>

                <button class="rails-open-button" id="rails-search-button" onclick="openForm()">Search #</button>

                <button class="rails-dark-button" id="rails-enable-dark-button">
                    <span class="rails-tooltip">
                        <i class="fa fa-lightbulb-o" style="font-size:36px;color:rgb(117, 33, 33)"></i>
                        <span class="rails-tooltiptext">Enter Dark Mode</span>
                    </span>
                </button>

                <div align='center'>
                    <% embeddedTweets.forEach(function(tweet) { %>
                        <div><%- tweet %></div> <!-- Use "-" instead of "=" for unescaped raw (HTML) output -->
                    <% }); %>
                </div> 

                <div class="rails-text" id="copyright-footer">&copy; <%- new Date().getFullYear() %> RAILS</div>
            </div>
        </div>
        <script>
            $('#rails-button-id').click(function(e){
                e.preventDefault();
                var hashtag = $('#rails-hashtag-id').val();
                if(hashtag.trim().length==0) {
                    alert('Your search query is empty. We will search #Cerner for you...');
                    hashtag = "Cerner";
                }
                var resultType = $('#result-type').val();
                var getUrl = window.location;
                var lastPosOfSlash = getUrl.toString().lastIndexOf("/");
                var urlLength = getUrl.toString().length;
                var redirectUrl;
                
                if(lastPosOfSlash == urlLength-1) {
                    redirectUrl = getUrl.toString() + hashtag + "-" + resultType;
                } else {
                    redirectUrl = getUrl.toString().replace(getUrl.toString().substring(lastPosOfSlash + 1, urlLength), hashtag + "-" + resultType);
                }
                window.location.href = redirectUrl;
                return false;
            });

            function openForm() {
                document.getElementById("railsForm").style.display = "block";
                document.getElementById("rails-search-button").style.display = "none";
            }

            function closeForm() {
                document.getElementById("railsForm").style.display = "none";
                document.getElementById("rails-search-button").style.display = "block";
            }

            $("#rails-enable-dark-button").click(function(e){
                if( $( "#rails-form-id" ).hasClass( "rails-form-container" )) {
                    $( "#rails-form-id" ).removeClass( "rails-form-container" );
                    $( "#rails-form-id" ).addClass( "rails-form-container-dark" );
                    $( "h4" ).removeClass( "rails-text" );
                    $( "h4" ).addClass( "rails-text-dark" );
                    $( "#copyright-footer" ).removeClass( "rails-text" );
                    $( "#copyright-footer" ).addClass( "rails-text-dark" );
                    $( "#tweet-bg" ).removeClass( "rails-bg" );
                    $( "#tweet-bg" ).addClass( "rails-bg-dark" );
                    $( "#rails-search-button" ).removeClass( "rails-open-button" );
                    $( "#rails-search-button" ).addClass( "rails-open-button-dark" );
                    $( "#rails-enable-dark-button" ).removeClass( "rails-dark-button" );
                    $( "#rails-enable-dark-button" ).addClass( "rails-dark-button-dark" );
                    $("#rails-enable-dark-button").html("Enable Lite Mode");
                } else {
                    $( "#rails-form-id" ).removeClass( "rails-form-container-dark" );
                    $( "#rails-form-id" ).addClass( "rails-form-container" );
                    $( "h4" ).removeClass( "rails-text-dark" );
                    $( "h4" ).addClass( "rails-text" );
                    $( "#copyright-footer" ).removeClass( "rails-text" );
                    $( "#copyright-footer" ).addClass( "rails-text-dark" );
                    $( "#tweet-bg" ).removeClass( "rails-bg-dark" );
                    $( "#tweet-bg" ).addClass( "rails-bg" );
                    $( "#rails-search-button" ).removeClass( "rails-open-button-dark" );
                    $( "#rails-search-button" ).addClass( "rails-open-button" );
                    $( "#rails-enable-dark-button" ).removeClass( "rails-dark-button-dark" );
                    $( "#rails-enable-dark-button" ).addClass( "rails-dark-button" );
                    $("#rails-enable-dark-button").html("Enable Dark Mode");
                }
            });
        </script>
    </body>   
</html>
