<html>
    <head>
        <link rel="stylesheet" href="../css/twitter.css">
    </head>
    <body>
        <h1 align='center'>Recent Tweets about #Cerner</h1>

		<div align='center'><%- embeddedTweets %></div> <!-- Use "-" instead of "=" for unescaped raw (HTML) output -->
    </body>   
</html>
