<html>
    <head>
        <link rel="stylesheet" href="../css/twitter.css">
    </head>
    <body>
        <h1 align='center'>Recent Tweets</h1>

		<p><%= tweetsTest %></p>

        <div align='center'>

            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Today&#39;s new update means that you can finally add Pizza Cat to your Retweet with comments! Learn more about this news from our Twitter Developer Forum post here: <a href="https://t.co/W1FqVrsjQk">https://t.co/W1FqVrsjQk</a> <a href="https://t.co/lXs26mCkIl">https://t.co/lXs26mCkIl</a> <a href="https://t.co/T9MBCHZWcD">pic.twitter.com/T9MBCHZWcD</a></p>&mdash; Twitter Dev (@TwitterDev) <a href="https://twitter.com/TwitterDev/status/1125490788736032770?ref_src=twsrc%5Etfw">May 6, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>

    </body>   
</html>
