.rails-tweet-holder {
  margin: 2em 0;
}

.rails-tweet {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: 800;
  height: 4em;
  width: 64em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rails-bg-light {
  background: -webkit-linear-gradient(110deg, #34ebeb 40%,#0f3443  60%);
  background: -o-linear-gradient(110deg, #34ebeb 40%, #0f3443 60%);
  background: -moz-linear-gradient(110deg, #34ebeb 40%, #0f3443 60%);
  background: linear-gradient(110deg, #34ebeb 40%, #0f3443 60%);
}

.rails-bg-dark {
  background: -webkit-linear-gradient(110deg, #13020de7 40%,#0f0e0fbb  60%);
  background: -o-linear-gradient(110deg, #13020de7 40%, #0f0e0fbb 60%);
  background: -moz-linear-gradient(110deg, #13020de7 40%, #0f0e0fbb 60%);
  background: linear-gradient(110deg, #13020de7 40%, #0f0e0fbb 60%);
}

.rails-text-light {
  opacity: 0.5;
  color: rgb(7, 0, 0);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.rails-text-dark {
  opacity: 0.5;
  color: rgb(255, 254, 254);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.rails-open-button-light {
  background-color: rgba(128,0,0,0.1);
  color: rgb(250, 249, 249);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 45px;
  right: 28px;
  width: 150px;
  border-radius: 25px;
}

.rails-open-button-dark {
  background-color: rgba(128,0,0,0.1);
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 45px;
  right: 28px;
  width: 150px;
  border-radius: 25px;
}

.rails-theme-toggle-light {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  color: maroon;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  position: fixed;
  top: 80px;
  right: 2px;
  width: 200px;
}

.rails-theme-toggle-dark {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  color: black;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  position: fixed;
  top: 80px;
  right: 2px;
  width: 200px;
}

.rails-form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.rails-form-container-light {
  max-width: 300px;
  padding: 10px;
  background-color: rgba(128,0,0,0.2);
}

.rails-form-container-dark {
  max-width: 300px;
  padding: 10px;
  background-color: #0e020adc;
}

.rails-form-container-light input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.rails-form-container-light .select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.rails-form-container-dark input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #9b9a9a;
}

.rails-form-container-dark .select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #9b9a9a;
}

.rails-form-container-light input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.rails-form-container-light .select:focus {
  background-color: #ddd;
  outline: none;
}

.rails-form-container-dark input[type=text]:focus {
  background-color: rgb(151, 148, 148);
  outline: none;
}

.rails-form-container-dark .select:focus {
  background-color: rgb(151, 148, 148);
  outline: none;
}


.rails-form-container-light .btn {
  background-color: white;
  color: maroon;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.rails-form-container-dark .btn {
  background-color: rgb(228, 220, 220);
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.rails-form-container-light .cancel {
  background-color: white;
  color: maroon;
}

.rails-form-container-dark .cancel {
  background-color: rgb(53, 48, 48);
  color: rgb(248, 245, 245);
}

.rails-form-container-light .btn:hover, .open-button:hover {
  opacity: 1;
}

.rails-form-container-dark .btn:hover, .open-button:hover {
  opacity: 1;
}

.rails-tooltip {
  position: relative;
  display: block;
}

.rails-tooltip .rails-tooltiptext-light {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: relative;
  z-index: 1;
}

.rails-tooltip .rails-tooltiptext-dark {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: relative;
  z-index: 1;
}

.rails-tooltip:hover .rails-tooltiptext-light {
  visibility: visible;
  color:white;
}

.rails-tooltip:hover .rails-tooltiptext-dark {
  visibility: visible;
  color:white;
}

#copyright-footer {
  font-size: 15px;
}

rails-tweet-holder {
  margin: 2em 0;
}

#rails-cookieConsent {
  background-color: rgba(20,20,20,0.8);
  min-height: 26px;
  font-size: 14px;
  color: rgb(138, 130, 130);
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}
#rails-cookieConsent button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(12, 173, 6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}

#rails-cookieConsent button:hover,
#rails-cookieConsent button:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgba(12, 173, 6, 0.651);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}

#rails-closeCookieConsent {
  float: right;
  display: block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold;
}
#rails-closeCookieConsent:hover {
  color: #FFF;
}
#rails-cookieConsent a.rails-cookieConsentOK {
  background-color: rgba(39, 133, 2, 0.836);
  color: #000;
  display: block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
  text-decoration: none;
}
#rails-cookieConsent a.rails-cookieConsentOK:hover {
  background-color: rgb(39, 133, 2);
  text-decoration: none;
}

.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.rails-se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url("../images/railsPreloader.gif") center no-repeat#fff;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover::before,
.rating > span:hover ~ span::before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.rails-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.rails-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.rails-slider-light {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 64, 69, 0.781);
  -webkit-transition: .4s;
  transition: .4s;
}

.rails-slider-light:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.rails-slider-light.round {
  border-radius: 34px;
}

.rails-slider-light.round:before {
  border-radius: 50%;
}

.rails-slider-dark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 153, 252, 0.575);
  -webkit-transition: .4s;
  transition: .4s;
}

.rails-slider-dark:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .rails-slider-dark:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.rails-slider-dark.round {
  border-radius: 34px;
}

.rails-slider-dark.round:before {
  border-radius: 50%;
}
